.about {
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 33px;
    margin-bottom: 33px;
}

@media screen and (min-width: 768px) {

    .about {
        margin-left: 66px;
        margin-right: 66px;
        margin-top: 66px;
        margin-bottom: 66px;
    }
}