.sandbox-container {
    margin-left: 16.5px;
    margin-right: 16.5px;
    margin-bottom: 16.5px;
    border-radius: 10px;
    background-image: url('../assets/images/grid_light.png');
    background-size: 26px;
    background-position: 50% 50%;
    background-color: var(--color-background-secondary);
    box-shadow: inset 0 0 50vmin 25vmin var(--color-background-secondary);
    position: relative;
}

[data-color-scheme-dark] .sandbox-container {
    background-image: url('../assets/images/grid_dark.png');
}

@media screen and (min-width: 768px) {
    .sandbox-container {
        margin-left: 33px;
        margin-right: 33px;
        margin-bottom: 33px;
    }
}